{
        "ADMINISTRATOR_USERNAME": "{{ admin_username }}",
        "ADMINISTRATOR_PASSWORD": "{{ admin_password }}",
        "bootstrap_template": "Panorama Bootstrap.xml",
        "hostname": "{{ vm_name }}",
        "init_cfg_template": "Default Init-Cfg",
        "dhcp_or_static": "dhcp-client",
        "default_gateway": "",
        "dg_name": "",
        "dhcp_accept_server_domain": "",
        "dhcp_accept_server_hostname": "",
        "dhcp_send_client_id": "",
        "dhcp_send_hostname": "",
        "dns_primary": "8.8.8.8",
        "dns_secondary": "1.1.1.1",
        "ip_address": "",
        "ipv6_address": "",
        "ipv6_default_gateway": "",
        "netmask": "",
        "op_command_modes": "",
        "panorama_server": "{{ panorama_ip }}",
        "panorama_server_2": "",
        "tpl_name": "",
        "vm_auth_key": "{{ vm_auth_key }}",
        "auth_key": "{{ auth_key }}"
}